/*   I M P O R T   */

/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v14-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('../font/montserrat-v14-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/montserrat-v14-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/montserrat-v14-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../font/montserrat-v14-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/montserrat-v14-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../font/montserrat-v14-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
       url('../font/montserrat-v14-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/montserrat-v14-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/montserrat-v14-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../font/montserrat-v14-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/montserrat-v14-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}



/*   B A S I S   */

body, header, p, a, .project, hr, video, iframe, footer {
  font-family: 'Montserrat', monospace;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.02em;
  word-spacing: 0.1em;
  padding: 0px;
  margin: 0px;
  border: 0px;
  color: #fff;
  background-color: #000;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  clear: both;
}



/*   T Y P E   */

p, a {
  font-size: 16px;
  line-height: 28px;
  padding-bottom: 10px;
  background-color: transparent;
}

.description p, .description a, .next a, .back a {
  font-size: 22px;
  line-height: 38px;
}

figcaption, .impressum {
	text-align: right;
}

address a, figcaption, .impressum a, small a, p small  {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.08em;
  word-spacing: 0.14em;
}

.miskolczy a, .miskolczymobile a {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.miskolczymobile {
  display: none;
  padding-left: 20px;
  padding-top: 30px;
  background-color: #fff;
}

hr {
  border: 1px solid #f33;
}

::selection {
  background: rgba(120, 120, 120, 0.4);
}



/*   L I N K S  */

a:hover {
  transition: .3s;
}

.miskolczy a, .miskolczymobile a, header a, header p, footer a {
  padding: 0px;
	color: #111;
  text-decoration: none;
}

.miskolczymobile, .viscommobile {
  display: none;
}

a:hover {
  color: #f33;
}



/*   I M A G E S   */

.gallery2 img, video {
  width: 100%;
  height: auto;
}

figure, img, video {
  float: left;
}

figure {
	margin: 0px;
}

.figure {
	margin-right: 55px;
}



/*   D E S I G N   */

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #000;
  background-color: #fff;
}

footer {
  background-color: #fff;
}

.menu, .next {
  text-align: right;
}

.description {
  padding: 140px 0px 180px 0px;
}

.gallery1 {
  float: left;
  width: 100%;
  padding-bottom: 140px;
}

.gallery1 figure {
	margin-bottom: 80px;
}

img {
  width: auto;
  height: 300px;
}

.gallery2 {
  margin-bottom: 80px;
}

.gallery2 img, .gallery2 video, .gallery2 iframe{
  margin-bottom: 80px;
}

video {
  outline: solid 0px;
}

.shadow {
  outline: solid 0px;
}

.shadow:hover {
  -webkit-box-shadow: 0px 5px 100px -10px rgba(255,255,255,0.2);
  -moz-box-shadow: 0px 5px 100px -10px rgba(255,255,255,255.2);
  box-shadow: 0px 5px 100px -10px rgba(255,255,255,0.2);
}

iframe {
  background-color: transparent;
}



/*   H O M E  */

iframe.startscreen {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  z-index: -1;
}

.start {
  margin-bottom: 0px;
}



/*   G R I D   */

header, .project, footer {
  display: grid;
  grid-template-columns: 55px 0.5fr 2fr 0.5fr 55px;
  align-items: center;
  grid-auto-rows: minmax(60px, auto);
}



@media (min-width: 700px) {


.miskolczy, .logo, .back {
  grid-column: 2;
}

.viscom, .description, .gallery2 {
  grid-column: 3;
}

.menu, .next {
  grid-column: 4;
}

.maxwidth {
  grid-column: 2 / span 3;
}
}



@media only screen and (max-width: 900px) {


header, .project, footer, .impressum {
  grid-template-columns: 20px auto auto 1fr 20px;
  grid-auto-rows: minmax(50px, auto);
}

.m, .back {
  grid-column: 2;
}

.viscommobile {
  grid-column: 3;
}

.menu, .next {
  grid-column: 4;
}

.description {
  grid-column: 2;
}

.maxwidth, .gallery2 {
  grid-column: 1 / span 5;
}



/*   M O B I L E   */

.gallery1 {
  padding-bottom: 80px;
}

.description p, .description a {
  font-size: 16px;
  line-height: 28px;
  padding-bottom: 10px;
  background-color: transparent;
}

.miskolczy, .viscom {
  display: none;
}

.miskolczymobile, .viscommobile {
  display:block;
}

img {
  width: 100%;
  height: auto;
}

.figure {
	margin-right: 0px;
}

figcaption, .impressum {
  padding-right: 20px;
}

iframe {
  width: 100vw;
  height: 100vh;
}
}
